<header class="header">
  <mat-toolbar color="primary" ngClass.xs="main-mobile-toolbar" ngClass.gt-xs="main-desktop-toolbar"
               role="heading">
    <!--MOBILE MENU-->
    <div class="main-mobile-toolbar__button-container" fxHide.gt-xs>
      <button mat-icon-button (click)="emitToggleSidebar()" *ngIf="isSidebarToggleVisible"
              aria-label="Pokaż/ukryj panel boczny">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="main-mobile-toolbar__title-container" fxHide.gt-xs>
      <h1>{{currentAppTitle}}</h1>
    </div>
    <div class="main-mobile-toolbar__button-container" fxHide.gt-xs>
      <button mat-icon-button [matMenuTriggerFor]="navMenu" aria-label="Przejdź do modułu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #navMenu="matMenu">
        <a mat-menu-item
           *ngFor="let navItem of navItems"
           [routerLink]="navItem.path">
          <mat-icon>{{navItem.icon}}</mat-icon>
          {{navItem.label}}
        </a>
      </mat-menu>
    </div>
    <!--DESKTOP MENU-->
    <nav mat-tab-nav-bar fxHide.xs color="accent" backgroundColor="primary">
      <a mat-tab-link
         *ngFor="let link of navItems"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        <mat-icon [style.margin]="'0 .6rem 2px 0'">{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-toolbar>
</header>
