<mat-sidenav-container class="points-calculator-page__container">
    <mat-sidenav
            [mode]="(isMobile | async) ? 'over' : 'side'"
            [fixedInViewport]="isMobile | async" fixedTopGap="56"
            [opened]="!(isMobile | async)"
            class="points-calculator-page__sidebar">
        <app-points-calculator-form
                [minPoints]="minPoints"
                [maxPoints]="maxPoints"
                [precisions]="precisions"
                [gradingSystems]="gradingSystems"
                (pointsThresholds)="updateTableData($event)"
        ></app-points-calculator-form>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-points-calculator-table
                class="app-points-calculator-table"
                [pointsThresholds]="pointsThresholds | async"
        ></app-points-calculator-table>
    </mat-sidenav-content>
</mat-sidenav-container>
