<form [formGroup]="pcForm" fxLayout="column">
    <h2 class="mat-h2">Oblicz przedział punktowy dla każdej z ocen</h2>
    <mat-form-field>
        <app-grading-system-selector
                [gradingSystems]="gradingSystems"
                formControlName="gradingSystem"
                placeholder="System oceniania"
                required
        ></app-grading-system-selector>
        <mat-error *ngIf="pcFormGradingSystem.invalid">
            Musisz wybrać system oceniania
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-select formControlName="precision" placeholder="Najmniejsza wartość punktu" required>
            <mat-option *ngFor="let precision of precisions" [value]="precision">
                {{1 / precision}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="pcFormPrecision.invalid">
            Musisz wybrać najmniejszą wartość punktu
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" formControlName="maxPoints" placeholder="Maksymalna liczba punktów"
               required min="{{minPoints}}" max="{{maxPoints}}">
        <mat-error *ngIf="pcFormMaxPoints.invalid">
            Musisz podać liczbę pomiędzy {{minPoints}} a {{maxPoints}}
        </mat-error>
    </mat-form-field>
</form>
