<table class="points-calculator-table" mat-table [dataSource]="tableData" matSort matSortDisableClear="true"
       fxFlex="100%">
    <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>ocena</strong>
        </th>
        <td mat-cell *matCellDef="let element">
            <strong>{{element.grade.name}}</strong>
        </td>
    </ng-container>
    <ng-container matColumnDef="min">
        <th mat-header-cell *matHeaderCellDef>
            <strong>min</strong>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.min}}
        </td>
    </ng-container>
    <ng-container matColumnDef="max">
        <th mat-header-cell *matHeaderCellDef>
            <strong>max</strong>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.max}}
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
</table>

