<mat-select #select [value]="value" (valueChange)="onValueChange($event)"
            [placeholder]="placeholder" [required]="required" [disabled]="disabled">
    <mat-option *ngFor="let gradeThreshold of gradeThresholds" [value]="gradeThreshold.grade">
        {{gradeThreshold.grade.name}}
    </mat-option>
</mat-select>
