<form [formGroup]="waForm" (ngSubmit)="_addWeightedGrade()">
    <section fxLayout="column">
        <h2 class="mat-h2">Wybierz system oceniania</h2>
        <mat-form-field>
            <app-grading-system-selector
                    [gradingSystems]="gradingSystems"
                    formControlName="gradingSystem"
                    placeholder="System oceniania"
                    required
            ></app-grading-system-selector>
            <mat-error *ngIf="waFormGradingSystem.invalid">
                Musisz wybrać system oceniania
            </mat-error>
        </mat-form-field>
    </section>
    <section fxLayout="column">
        <h2 class="mat-h2">Dodaj ocenę</h2>
        <mat-form-field>
            <app-grade-selector
                    [gradeThresholds]="selectedGradeThresholds$ | async"
                    formControlName="grade"
                    placeholder="Ocena"
                    required
            ></app-grade-selector>
            <mat-error *ngIf="waFormGrade.invalid">
                Musisz wybrać ocenę
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
                    matInput type="number"
                    formControlName="weight"
                    placeholder="Waga"
                    min="{{minGradeWeight}}" max="{{maxGradeWeight}}" required
            >
            <mat-error *ngIf="waFormWeight.invalid">
                Musisz podać liczbę pomiędzy {{minGradeWeight}} a {{maxGradeWeight}}
            </mat-error>
        </mat-form-field>
        <div fxLayoutAlign="flex-end">
            <button mat-mini-fab color="primary" type="submit" [disabled]="!waForm.valid" aria-label="Dodaj"
                    title="Dodaj">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </section>
</form>
