<app-navbar [currentAppTitle]="currentAppTitle" [isSidebarToggleVisible]="isSidebarToggleVisible" [navItems]="navItems"
            (toggleSidebar)="toggleSidebar()"></app-navbar>
<div fxLayout="column" fxLayoutAlign="space-between" fxFlex="1 1 auto" class="app-root__viewport">
    <main fxLayout="column" fxFlex="1 1 auto" class="main container">
        <div fxFill *ngIf="isSpinnerVisible" class="spinner-container">
            <mat-spinner color="accent"></mat-spinner>
        </div>
        <router-outlet (activate)="onActivate($event)" class="main-router-outlet"></router-outlet>
    </main>
</div>
