<mat-select #select [value]="value" (valueChange)="onValueChange($event)"
            [placeholder]="placeholder" [required]="required" [disabled]="disabled">
    <mat-option *ngFor="let gradingSystem of gradingSystems" [value]="gradingSystem">
        {{gradingSystem.name}}
    </mat-option>
</mat-select>
