<mat-sidenav-container class="weighted-average-page__container">
    <mat-sidenav
            [mode]="(isMobile | async) ? 'over' : 'side'"
            [fixedInViewport]="isMobile | async" fixedTopGap="56"
            [opened]="!(isMobile | async)"
            class="weighted-average-page__sidebar">
        <app-weighted-average-form
                [gradingSystems]="gradingSystems"
                (addWeightedGrade)="addWeightedGrade($event)"
                (setGradingSystem)="setGradingSystem($event)"
        ></app-weighted-average-form>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-weighted-average-table
                [weightedGrades]="weightedGrades | async"
                [currentGradingSystem]="currentGradingSystem | async"
                (removeWeightedGrade)="removeWeightedGrade($event)"
                (resetData)="resetData()"
        ></app-weighted-average-table>
    </mat-sidenav-content>
</mat-sidenav-container>
