<table class="weighted-average-table" mat-table [dataSource]="tableData" matSort matSortDisableClear="true"
       fxFlex="100%">
    <ng-container matColumnDef="grade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>ocena</strong>
        </th>
        <td mat-cell *matCellDef="let element">
            <strong>{{element.grade.value | asGrade: currentGradingSystem}}</strong>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <span class="mat-h3">
                Średnia:
                <strong>{{weightedAverage | asGrade: currentGradingSystem}}</strong>
                ({{weightedAverage | number: '1.2-2'}})
            </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>waga</strong>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.weight}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
            <strong>akcja</strong>
        </th>
        <td mat-cell *matCellDef="let element;">
            <button mat-icon-button color="accent" type="button" aria-label="Usuń" title="Usuń"
                    (click)="remove(element)">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <button mat-icon-button color="accent" type="button" aria-label="Resetuj" title="Resetuj" (click)="reset()">
                <mat-icon>refresh</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="tableColumns; sticky: true;" [hidden]="!tableData.data.length"></tr>
</table>
