@import "variables";

// general styles

body {
  background-color: #fafafa;
  min-width: 240px;
  overscroll-behavior: none;
}

.app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__viewport {
    position: relative;
    overflow: hidden;
  }
}

.main {
  overflow: auto;
  position: relative;

  @include min-width-md {
    border-left: solid 1px rgba(0, 0, 0, .12);
    border-right: solid 1px rgba(0, 0, 0, .12);
  }
}

.container {
  width: 100%;

  @include min-width-sm {
    margin: 0 auto;
  }

  @include min-width-md {
    width: calc(#{$min-width-md} - 32px);
  }
}
