@import "variables";

// current page component styles

.main-router-outlet + * {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.mat-drawer {

  &-inner-container {
    & > * {
      display: block;
      margin: 2rem;
    }
  }

  &-container {
    flex-grow: 1;
  }

  // mobile sidebar
  &-over {
    width: 300px;
    max-width: 100%;
  }

  // normal sidebar
  &-side {
    width: 35%;
    max-width: 300px;
  }

  // main content
  &-content {

    @include min-width-sm {
      background-color: #fff;
    }
  }
}
