@import "variables";

// header styles

// mobile
.main-mobile-toolbar {
  justify-content: space-between;
  z-index: 10;

  &__button-container {
    min-width: 40px;
  }
}

// desktop
.main-desktop-toolbar {

  .mat-tab-nav-bar {
    @include min-width-md {
      width: calc(#{$min-width-md} - 32px);
      margin: 0 auto;
    }
  }

  .mat-tab-link {
    font-size: 1.2rem;
  }

  .mat-tab-label-active {
    opacity: 1;
  }
}
