@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, 500, 900, A100);
$app-warn: mat-palette($mat-deep-orange);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$text: rgba(0, 0, 0, 0.87);
$text-on-primary: mat-color($app-primary, default-contrast);
$text-on-accent: mat-color($app-accent, default-contrast);

$min-width-sm: 600px;
$min-width-md: 960px;
$min-width-lg: 1280px;

@mixin min-width-sm {
  @media (min-width: $min-width-sm) {
    @content;
  }
}

@mixin min-width-md {
  @media (min-width: $min-width-md) {
    @content;
  }
}

@mixin min-width-lg {
  @media (min-width: $min-width-lg) {
    @content;
  }
}


